<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head::common_head"></head>
<body>

<!-- Main Content -->
<div class="container">

  <!--/*@thymesVar id="blog_list" type="java.util.List"*/-->
  <div th:replace="common/blog_list::blog_list(${blog_list}, true)"></div>
</div>

<!-- Navigation -->
<div th:replace="common/nav::mainNav"></div>
<!-- Footer -->
<div th:replace="common/footer::footer"></div>
<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Custom scripts for this template -->
<script th:src="@{/js/clean-blog.js}"></script>
</body>
</html>