<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head::common_head"></head>
<body>
<!-- Navigation -->
<div th:replace="common/nav::mainNav"></div>

<article>
  <div class="container">
    <div class="row">
      <div class="error-message main-contents col-lg-8 col-md-10 mx-auto">
        <h1>ERROR - Not Found</h1>
        <h2 class="subheading">お探しのページが見つかりませんでした。</h2>
      </div>
    </div>
  </div>
</article>
<!--<div class="row">-->
  <!--&lt;!&ndash;/*@thymesVar id="blog_list" type="java.util.List"*/&ndash;&gt;-->
  <!--<div th:replace="common/blog_list::blog_list(${blog_list})"></div>-->
<!--</div>-->

<!-- Footer -->
<div th:replace="common/footer::footer"></div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Custom scripts for this template -->
<script th:src="@{/js/clean-blog.js}"></script>

</body>
</html>