<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head::common_head"></head>
<body>

<!-- Navigation -->
<div th:replace="common/nav::mainNav"></div>

<!-- Page Header -->
<header class="masthead">
  <!-- <div class="overlay"></div> -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <!--/*@thymesVar id="author" type="com.taurin190.entity.AuthorEntity"*/-->
          <h1 th:text="|${author.authorName} s Page|"></h1>
          <span class="subheading">Software Engineer</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto rounded profile-area ">
      <h2 class="contents-title">Profile</h2>
      <div class="float-left col-lg-8 col-md-7 profile-detail">
        <!--/*@thymesVar id="author" type="com.taurin190.entity.AuthorEntity"*/-->
        <h3 th:text="${author.authorName}"></h3>
        <span th:text="${author.selfIntroduction}"></span>
      </div>
      <div class="float-right col-lg-4 col-md-5 ">
        <img class="img-fluid img-thumbnail" src="img/koichitaura.jpg">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h2 class="contents-title">Blogs</h2>
      <div class="post-preview">
        <a href="post.html">
          <h3 class="post-title">
            Man must explore, and this is exploration at its greatest
          </h3>
          <h4 class="post-subtitle">
            Problems look mighty small from 150 miles up
          </h4>
        </a>
        <p class="post-meta">Posted by
          <a href="#">Start Bootstrap</a> on September 24, 2018</p>
      </div>
      <hr>
      <div class="post-preview">
        <a href="post.html">
          <h3 class="post-title">
            I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
          </h3>
        </a>
        <p class="post-meta">Posted by
          <a href="#">Start Bootstrap</a> on September 18, 2018</p>
      </div>
      <hr>
      <div class="post-preview">
        <a href="post.html">
          <h3 class="post-title">
            Science has not yet mastered prophecy
          </h3>
          <h4 class="post-subtitle">
            We predict too much for the next year and yet far too little for the next ten.
          </h4>
        </a>
        <p class="post-meta">Posted by
          <a href="#">Start Bootstrap</a> on August 24, 2018</p>
      </div>
      <hr>
      <div class="post-preview">
        <a href="post.html">
          <h3 class="post-title">
            Failure is not an option
          </h3>
          <h4 class="post-subtitle">
            Many say exploration is part of our destiny, but it’s actually our duty to future generations.
          </h4>
        </a>
        <p class="post-meta">Posted by
          <a href="#">Start Bootstrap</a> on July 8, 2018</p>
      </div>
      <hr>
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<div th:replace="common/footer::footer"></div>
<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Custom scripts for this template -->
<script th:src="@{/js/clean-blog.js}"></script>
</body>

</html>