<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="head_object" type="com.taurin190.entity.HeadEntity"*/-->
<head th:replace="common/head::common_head(${head_object.title},${head_object.description},${head_object.shareUrl},${head_object.keyword})"></head>
<body>

<!-- Navigation -->
<div th:replace="common/nav::mainNav"></div>

<!-- Page Header -->
<header class="masthead">
  <!-- <div class="overlay"></div> -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <!--/*@thymesVar id="author" type="com.taurin190.entity.AuthorEntity"*/-->
          <h1 th:text="${author.authorName} + '\'s Page'"></h1>
          <span class="subheading">Software Engineer</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="main container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto rounded profile-area ">
      <h2 class="contents-title">Profile</h2>
      <div class="float-left col-lg-8 col-md-7 profile-detail">
        <!--/*@thymesVar id="author" type="com.taurin190.entity.AuthorEntity"*/-->
        <h3 th:text="${author.authorName}"></h3>
        <span th:text="${author.selfIntroduction}"></span>
      </div>
      <div class="float-right col-lg-4 col-md-5 ">
        <img class="img-profile img-fluid img-thumbnail" src="img/koichitaura.jpg">
      </div>
    </div>
  </div>
  <!--/*@thymesVar id="blog_list" type="java.util.List"*/-->
  <div th:replace="common/blog_list::blog_list(${blog_list}, false, 'Blogs')"></div>

</div>

<!-- Footer -->
<div th:replace="common/footer::footer"></div>
<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Custom scripts for this template -->
<script th:src="@{/js/clean-blog.js}"></script>
</body>

</html>